/TCC_Salao/nbproject/private/
/TCC_Salao/build/
/TCC_Salao/src/lixo/
/TCC_Salao/orcamento.drawio
/TCC_Salao/tabelas_bd.drawio
/TCC_Salao/Tela_fornecedor.drawio
/TCC_Salao/relacao_bd.drawio
/TCC_Salao/RelacaoBD
/TCC_Salao/bd